<link
  rel="stylesheet"
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
/>
{% block content %}
<form action="" method="POST">
  {{ formset.management_form }} {% for form in formset %} {{ form }}<br />
  {% endfor %} {% csrf_token %}
  <button type="submit">検索</button>
</form>
<hr />

{% for profile in profile_list %}
<div>
  <p>
    曲名: {{ profile.name }} アルバム名: {{profile.album }} アーティスト名:
    {{profile.artist }} 曲の長さ: {{ profile.length }} 曲調: {{ profile.mode }}
    人気度: {{ profile.popularity }} ダンス度: {{ profile.danceability }}
    アコースティック度: {{ profile.acousticness }}
  </p>
</div>
<hr />
{% endfor %} {% endblock %}
